Repository d-ronin/dRonin, pull requests merged in 2018-04, with the labels that each got.

#2147 flight: telemetry: fix heap overflow on excessive reqs
  flight/Modules/Telemetry/telemetry.c
Labels: bug, bug/safety, flight, status/ready-for-review, telemetry

#2144 gcs: Make camera reprojection checks aware of LQG.
  ground/gcs/src/plugins/config/configinputwidget.cpp
Labels: bug, gcs, status/ready-for-review

#2142 frsky: properly use detected cell count in bat telem
  flight/Libraries/frsky_packing.c
  flight/Modules/Battery/battery.c
Labels: enhancement, flight, status/ready-for-merge

#2154 Lots of small changes to hardware support
  flight/PiOS/Common/pios_hal.c
  flight/PiOS/Common/pios_mpu.c
  flight/PiOS/inc/pios_bmp280.h
  flight/PiOS/pios.h
  flight/targets/revolution/fw/pios_board.c
  shared/uavobjectdefinition/hwrevolution.xml
Labels: bug, flight, status/ready-for-review, targets/legacy

#2155 vtolpathfollower: allow configuration of RTH height
  flight/Modules/VtolPathFollower/vtol_follower_fsm.c
  shared/uavobjectdefinition/vtolpathfollowersettings.xml
Labels: enhancement, flight, flight/navigation, status/ready-for-review

#2105 gcs: autotune: compute vertical autotune
  ground/gcs/src/plugins/config/autotunesliders.ui
  ground/gcs/src/plugins/config/configautotunewidget.cpp
  ground/gcs/src/plugins/config/configautotunewidget.h
Labels: enhancement, gcs, status/ready-for-review, usability

#2136 actuator: build motor gain functionality
  flight/Modules/Actuator/actuator.c
  flight/Modules/OnScreenDisplay/osd_menu.c
  ground/gcs/src/plugins/config/configoutputwidget.cpp
  ground/gcs/src/plugins/config/output.ui
  shared/uavobjectdefinition/actuatorsettings.xml
Labels: difficulty/low, enhancement, flight, flight/actuator, status/ready-for-review

#2160 gcs: Fix tooltip for Motor Power Limitation.
  ground/gcs/src/plugins/config/output.ui
Labels: documentation, gcs, status/ready-for-merge

#2122 Run system task in init task (to save task stack space)
  flight/Modules/System/systemmod.c
  flight/PiOS/Common/pios_thread.c
  flight/PiOS/Common/taskmonitor.c
  flight/PiOS/STM32/chibi_main.c
  flight/PiOS/inc/pios_thread.h
  flight/PiOS/posix/pios_thread.c
  flight/targets/flightd/fw/main.c
Labels: enhancement, flight, flight/pios, status/ready-for-review, status/requires-test

#2150 transmitter_control: don't arm on settings change
  flight/Modules/ManualControl/transmitter_control.c
Labels: bug, bug/safety, flight, status/ready-for-review

#2151 posix: add "faketick" infrastructure
  flight/Modules/Actuator/actuator.c
  flight/Modules/Stabilization/sensors.c
  flight/Modules/Stabilization/simulated/simsensors.c
  flight/Modules/Stabilization/stabilization.c
  flight/PiOS/Common/pios_gcsrcvr.c
  flight/PiOS/Common/pios_rcvr.c
  flight/PiOS/Common/pios_sensors.c
  flight/PiOS/inc/pios_thread.h
  flight/PiOS/posix/pios_queue.c
  flight/PiOS/posix/pios_sys.c
  flight/PiOS/posix/pios_thread.c
  flight/PiOS/posix/pios_wdg.c
  flight/targets/aq32/board-info/pios_board.h
  flight/targets/brain/board-info/pios_board.h
  flight/targets/brainre1/board-info/pios_board.h
  flight/targets/dtfc/board-info/pios_board.h
  flight/targets/flightd/fw/pios_board.h
  flight/targets/flyingpio/board-info/pios_board.h
  flight/targets/lux/board-info/pios_board.h
  flight/targets/omnibusf3/board-info/pios_board.h
  flight/targets/pikoblx/board-info/pios_board.h
  flight/targets/pipxtreme/board-info/pios_board.h
  flight/targets/quanton/board-info/pios_board.h
  flight/targets/revolution/board-info/pios_board.h
  flight/targets/seppuku/board-info/pios_board.h
  flight/targets/sparky/board-info/pios_board.h
  flight/targets/sparky2/board-info/pios_board.h
  flight/targets/sprf3e/board-info/pios_board.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.cpp
  shared/uavobjectdefinition/hwsimulation.xml
Labels: enhancement, flight, flight/pios, status/ready-for-review, targets/flyingpi

#2148 telemetry: remove session managing logic
  flight/Libraries/inc/uavtalk.h
  flight/Libraries/uavtalk.c
  flight/Modules/RadioComBridge/RadioComBridge.c
  flight/Modules/Telemetry/telemetry.c
  ground/gcs/src/plugins/coreplugin/generalsettings.cpp
  ground/gcs/src/plugins/coreplugin/generalsettings.h
  ground/gcs/src/plugins/coreplugin/generalsettings.ui
  ground/gcs/src/plugins/uavobjectbrowser/uavobjecttreemodel.cpp
  ground/gcs/src/plugins/uavobjects/uavdataobject.cpp
  ground/gcs/src/plugins/uavobjects/uavdataobject.h
  ground/gcs/src/plugins/uavobjects/uavobject.cpp
  ground/gcs/src/plugins/uavtalk/telemetrymanager.cpp
  ground/gcs/src/plugins/uavtalk/telemetrymanager.h
  ground/gcs/src/plugins/uavtalk/telemetrymonitor.cpp
  ground/gcs/src/plugins/uavtalk/telemetrymonitor.h
  ground/gcs/src/plugins/uavtalk/uavtalk.cpp
  shared/uavobjectdefinition/sessionmanaging.xml
Labels: flight, gcs, status/ready-for-review, telemetry

#2158 pios_bmp280: Make taskless.
  flight/PiOS/Common/pios_bmp280.c
Labels: enhancement, flight/pios, status/ready-for-review

#2157 pios_bmi160: Make taskless.
  flight/PiOS/Common/pios_bmi160.c
Labels: enhancement, flight/pios, status/ready-for-review

#2162 pios_hal: handle RFM22 being missing on revo
  flight/PiOS/Common/pios_hal.c
Labels: BLOCKER 🛑, bug, flight, status/ready-for-merge, targets/open-hardware

#2163 posix: use native assert instead of infinite loop
  flight/PiOS/posix/inc/pios_debug.h
  flight/PiOS/posix/pios_spi.c
Labels: code-cleanup 😍, enhancement, flight, flight/pios, status/ready-for-review, targets/flyingpi

#2152 flight: preliminary "flipover" mode support
  flight/Libraries/math/misc_math.c
  flight/Libraries/math/misc_math.h
  flight/Libraries/sanitycheck.c
  flight/Modules/Actuator/actuator.c
  flight/Modules/CharacterOSD/panel.c
  flight/Modules/ManualControl/transmitter_control.c
  flight/Modules/OnScreenDisplay/onscreendisplay.c
  flight/Modules/Stabilization/stabilization.c
  shared/uavobjectdefinition/actuatordesired.xml
  shared/uavobjectdefinition/shareddefs.xml
Labels: enhancement, flight, status/ready-for-review

#2164 pios_com: ensure that tx_start is always called
  flight/PiOS/Common/pios_com.c
Labels: flight, flight/pios, status/ready-for-review

#2161 Rename GCSReceiver to UAVTalkReceiver
  flight/PiOS/Common/pios_gcsrcvr.c
  flight/PiOS/Common/pios_hal.c
  flight/PiOS/Common/pios_uavtalkrcvr.c
  flight/PiOS/STM32/chibi_main.c
  flight/PiOS/inc/pios_flight_config.h
  flight/PiOS/inc/pios_hal.h
  flight/PiOS/inc/pios_uavtalkrcvr_priv.h
  flight/PiOS/pios_flight_library.mk
  flight/targets/aq32/board-info/board_hw_defs.c
  flight/targets/aq32/fw/pios_board.c
  flight/targets/brain/board-info/board_hw_defs.c
  flight/targets/brain/fw/pios_board.c
  flight/targets/brainre1/board-info/board_hw_defs.c
  flight/targets/dtfc/board-info/board_hw_defs.c
  flight/targets/dtfc/fw/pios_board.c
  flight/targets/flightd/fw/Makefile
  flight/targets/flightd/fw/main.c
  flight/targets/flightd/fw/pios_board.c
  flight/targets/flightd/fw/pios_config.h
  flight/targets/lux/board-info/board_hw_defs.c
  flight/targets/lux/fw/pios_board.c
  flight/targets/omnibusf3/board-info/board_hw_defs.c
  flight/targets/omnibusf3/fw/pios_board.c
  flight/targets/pikoblx/board-info/board_hw_defs.c
  flight/targets/pikoblx/fw/pios_board.c
  flight/targets/pipxtreme/board-info/board_hw_defs.c
  flight/targets/pipxtreme/fw/pios_board.c
  flight/targets/pipxtreme/fw/pios_config.h
  flight/targets/playuavosd/fw/Makefile
  flight/targets/quanton/board-info/board_hw_defs.c
  flight/targets/quanton/fw/pios_board.c
  flight/targets/revolution/board-info/board_hw_defs.c
  flight/targets/revolution/fw/pios_board.c
  flight/targets/seppuku/board-info/board_hw_defs.c
  flight/targets/seppuku/fw/pios_board.c
  flight/targets/sparky/board-info/board_hw_defs.c
  flight/targets/sparky/fw/pios_board.c
  flight/targets/sparky2/board-info/board_hw_defs.c
  flight/targets/sparky2/fw/pios_board.c
  flight/targets/sprf3e/board-info/board_hw_defs.c
  flight/targets/sprf3e/fw/pios_board.c
  ground/gcs/src/plugins/config/inputchannelform.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadget.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetconfiguration.h
  python/integrationtests-basic
  python/minimum-sim-config.xml
  shared/uavobjectdefinition/manualcontrolsettings.xml
  shared/uavobjectdefinition/uavtalkreceiver.xml
Labels: flight, gcs, status/ready-for-review

#2167 integration tests: do a simple flight scenario
  python/dronin/telemetry.py
  python/dronin/uavo.py
  python/dronin/uavofile.py
  python/dronin/uavtalk.py
  python/integrationtests-basic
Labels: api/python, flight, status/ready-for-review

#2168 Eliminate all warnings seen in CI
  ground/gcs/src/app/main.cpp
  ground/gcs/src/plugins/boards_dronin/seppuku.h
Labels: build/macos, code-cleanup 😍, enhancement, gcs, status/ready-for-review

#2175 gcs: attitude: make sixpoint work on first try
  ground/gcs/src/plugins/config/configattitudewidget.cpp
Labels: bug, gcs, status/ready-for-merge

#2177 GCS:SetupWizard: Add plugin dependency on Uploader
  ground/gcs/src/plugins/setupwizard/SetupWizard.pluginspec
Labels: BLOCKER 🛑, bug, status/ready-for-merge

#2170 f1: add interrupt prologues/epilogues
  flight/PiOS/STM32F10x/pios_usart.c
  flight/PiOS/STM32F10x/pios_usb_hid_istr.c
Labels: bug, code-cleanup 😍, flight, flight/pios, status/ready-for-review

#2180 sprf3e: deal with crappy brushed clones
  flight/targets/sprf3e/bl/pios_board.c
  flight/targets/sprf3e/board-info/board-info.mk
  flight/targets/sprf3e/board-info/board_hw_defs.c
Labels: bug, bug/safety, flight, status/ready-for-review, targets/legacy

#2171 flightd: lots of cleanups
  flight/PiOS/posix/inc/pios_flyingpio.h
  flight/PiOS/posix/pios_flyingpio.c
  flight/PiOS/posix/pios_sys.c
Labels: bug, code-cleanup 😍, enhancement, flight, flight/pios, status/ready-for-review, targets/flyingpi

#2182 Attempt to fix windows build.
  flight/PiOS/Common/pios_flash.c
  flight/PiOS/inc/pios_debug.h
  flight/PiOS/posix/inc/pios_debug.h
  flight/PiOS/posix/pios_sys.c
Labels: BLOCKER 🛑, bug, build/windows, flight/pios, status/ready-for-merge

#2183 gcs: hidapi_linux: deal with races / null paths
  ground/gcs/src/plugins/rawhid/hidapi/hidapi_linux.c
Labels: bug, build/linux, gcs, status/work-in-progress

#2173 gcs: qmessagebox needs a valid widget parent
  ground/gcs/src/libs/tlmapcontrol/core/urlfactory.h
  ground/gcs/src/plugins/config/calibration.cpp
  ground/gcs/src/plugins/config/cfg_vehicletypes/configccpmwidget.cpp
  ground/gcs/src/plugins/config/cfg_vehicletypes/configfixedwingwidget.cpp
  ground/gcs/src/plugins/config/cfg_vehicletypes/configgroundvehiclewidget.cpp
  ground/gcs/src/plugins/config/cfg_vehicletypes/configmultirotorwidget.cpp
  ground/gcs/src/plugins/config/configautotunewidget.cpp
  ground/gcs/src/plugins/config/configgadgetwidget.cpp
  ground/gcs/src/plugins/config/configgadgetwidget.h
  ground/gcs/src/plugins/config/configinputwidget.cpp
  ground/gcs/src/plugins/config/configoutputwidget.cpp
  ground/gcs/src/plugins/config/configplugin.cpp
  ground/gcs/src/plugins/coreplugin/coreimpl.cpp
  ground/gcs/src/plugins/coreplugin/coreimpl.h
  ground/gcs/src/plugins/coreplugin/icore.cpp
  ground/gcs/src/plugins/coreplugin/icore.h
  ground/gcs/src/plugins/coreplugin/mainwindow.cpp
  ground/gcs/src/plugins/coreplugin/mainwindow.h
  ground/gcs/src/plugins/coreplugin/uavconfiginfo.cpp
  ground/gcs/src/plugins/coreplugin/uavgadgetinstancemanager.cpp
  ground/gcs/src/plugins/coreplugin/uavgadgetmanager/uavgadgetmanager.cpp
  ground/gcs/src/plugins/debuggadget/debuggadgetwidget.cpp
  ground/gcs/src/plugins/importexport/importexportgadgetwidget.cpp
  ground/gcs/src/plugins/ipconnection/ipconnectionplugin.cpp
  ground/gcs/src/plugins/kmlexport/kmlexport.cpp
  ground/gcs/src/plugins/logging/logfile.cpp
  ground/gcs/src/plugins/magicwaypoint/positionfield.cpp
  ground/gcs/src/plugins/opmap/opmapgadgetwidget.cpp
  ground/gcs/src/plugins/pathplanner/flightdatamodel.cpp
  ground/gcs/src/plugins/scope/scopegadgetoptionspage.cpp
  ground/gcs/src/plugins/setupwizard/pages/biascalibrationpage.cpp
  ground/gcs/src/plugins/setupwizard/pages/savepage.cpp
  ground/gcs/src/plugins/setupwizard/pages/tlendpage.cpp
  ground/gcs/src/plugins/setupwizard/setupwizard.cpp
  ground/gcs/src/plugins/telemetryscheduler/telemetryschedulergadgetwidget.cpp
  ground/gcs/src/plugins/uavsettingsimportexport/importsummary.cpp
  ground/gcs/src/plugins/uavsettingsimportexport/uavsettingsimportexportmanager.cpp
  ground/gcs/src/plugins/uploader/uploadergadgetwidget.cpp
  ground/gcs/src/plugins/welcome/welcomeplugin.cpp
Labels: bug, gcs, status/ready-for-review, usability

#2174 gcs: qfiledialog: ensure there's always a parent
  ground/gcs/src/plugins/debuggadget/debuggadgetwidget.cpp
  ground/gcs/src/plugins/dial/dialgadgetoptionspage.cpp
  ground/gcs/src/plugins/importexport/importexportgadgetwidget.cpp
  ground/gcs/src/plugins/kmlexport/kmlexportplugin.cpp
  ground/gcs/src/plugins/logging/loggingplugin.cpp
  ground/gcs/src/plugins/modelview/modelviewgadgetoptionspage.h
  ground/gcs/src/plugins/opmap/opmapgadgetoptionspage.cpp
  ground/gcs/src/plugins/pfdqml/pfdqmlgadgetoptionspage.cpp
  ground/gcs/src/plugins/qmlview/qmlviewgadgetoptionspage.cpp
  ground/gcs/src/plugins/systemhealth/systemhealthgadgetoptionspage.cpp
  ground/gcs/src/plugins/telemetryscheduler/telemetryschedulergadgetwidget.cpp
  ground/gcs/src/plugins/uavsettingsimportexport/uavsettingsimportexportmanager.cpp
Labels: bug, gcs, status/ready-for-review, usability

#2184 Mass-fix casts throughout the GCS code base
  ground/gcs/src/plugins/config/calibration.cpp
  ground/gcs/src/plugins/config/cfg_vehicletypes/configccpmwidget.cpp
  ground/gcs/src/plugins/config/configcamerastabilizationwidget.cpp
  ground/gcs/src/plugins/config/configgadget.h
  ground/gcs/src/plugins/config/configinputwidget.cpp
  ground/gcs/src/plugins/config/configplugin.cpp
  ground/gcs/src/plugins/config/configvehicletypewidget.cpp
  ground/gcs/src/plugins/config/outputchannelform.cpp
  ground/gcs/src/plugins/coreplugin/connectionmanager.cpp
  ground/gcs/src/plugins/coreplugin/connectionmanager.h
  ground/gcs/src/plugins/coreplugin/generalsettings.cpp
  ground/gcs/src/plugins/coreplugin/styleanimator.cpp
  ground/gcs/src/plugins/coreplugin/uavconfiginfo.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadget.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadget.h
  ground/gcs/src/plugins/ipconnection/ipconnectionplugin.cpp
  ground/gcs/src/plugins/kmlexport/kmlexport.cpp
  ground/gcs/src/plugins/kmlexport/kmlexportplugin.cpp
  ground/gcs/src/plugins/logging/flightlogdownload.cpp
  ground/gcs/src/plugins/logging/logfile.cpp
  ground/gcs/src/plugins/logging/logginggadgetfactory.cpp
  ground/gcs/src/plugins/logging/loggingplugin.cpp
  ground/gcs/src/plugins/modelview/modelviewgadgetwidget.cpp
  ground/gcs/src/plugins/notify/notifyitemdelegate.cpp
  ground/gcs/src/plugins/notify/notifypluginfactory.cpp
  ground/gcs/src/plugins/pathplanner/flightdatamodel.cpp
  ground/gcs/src/plugins/pfdqml/pfdqmlgadgetwidget.cpp
  ground/gcs/src/plugins/rawhid/rawhid.cpp
  ground/gcs/src/plugins/scope/scopegadgetoptionspage.cpp
  ground/gcs/src/plugins/scope/scopegadgetwidget.cpp
  ground/gcs/src/plugins/scope/scopes2d/histogramscopeconfig.cpp
  ground/gcs/src/plugins/scope/scopes2d/scatterplotscopeconfig.cpp
  ground/gcs/src/plugins/scope/scopes3d/spectrogramplotdata.cpp
  ground/gcs/src/plugins/scope/scopes3d/spectrogramscopeconfig.cpp
  ground/gcs/src/plugins/uavobjects/uavmetaobject.cpp
  ground/gcs/src/plugins/uavobjects/uavobjecttemplate.cpp
  ground/gcs/src/plugins/uavobjectutil/uavobjectutilmanager.cpp
  ground/gcs/src/plugins/uavobjectwidgetutils/configtaskwidget.cpp
  ground/gcs/src/plugins/uavsettingsimportexport/uavsettingsimportexportmanager.cpp
  ground/gcs/src/plugins/uavtalk/uavtalk.cpp
  ground/gcs/src/plugins/uploader/tl_dfu.cpp
  ground/uavobjgenerator/generators/flight/uavobjectgeneratorflight.cpp
Labels: code-cleanup 😍, gcs, status/ready-for-review
