Repository d-ronin/dRonin, pull requests merged in 2018-07, with the labels that each got.

#2225 Update README.md
  README.md
Labels: documentation, status/ready-for-merge

#2224 charosd: Rename LQG-A to LQG-L to actually fit the respective flightmode, plus readability.
  flight/Modules/CharacterOSD/panel.c
Labels: enhancement, flight/onscreendisplay

#2222 stabilization: Disable hangtime in flipover mode.
  flight/Modules/Stabilization/stabilization.c
Labels: bug/safety, flight

#2227 gcs,app: Wrangle AVs.
  ground/gcs/src/app/main.cpp
Labels: gcs, usability

#2209 UAVOMSPBridge: Use memcpy instead of strncpy where src len >= dest
  flight/Modules/UAVOMSPBridge/UAVOMSPBridge.c
Labels: bug, flight, status/ready-for-review
