Repository d-ronin/dRonin, pull requests merged in 2018-03, with the labels that each got.

#2091 sparky2: fix airspeed module reference
  flight/targets/sparky2/fw/Makefile
Labels: bug 🐛, status/ready-for-review, targets/open-hardware

#2082 uavtalk: cope with LP protocol variant
  flight/Libraries/uavtalk.c
Labels: enhancement, flight, status/ready-for-review, telemetry

#2083 uavsettings/upgrader: handle null settings well
  ground/gcs/src/plugins/uavsettingsimportexport/uavsettingsimportexportmanager.cpp
Labels: bug 🐛, gcs, status/ready-for-review, usability

#2079 flightD: Fix serial driver baud rate selection
  flight/PiOS/Common/pios_hal.c
  flight/PiOS/posix/pios_serial.c
Labels: enhancement, flight, status/ready-for-review, targets/flyingpi

#2093 actuators: Leaky bucket time constant configuration, bucket content logging.
  flight/Modules/Actuator/actuator.c
  shared/uavobjectdefinition/actuatorcommand.xml
  shared/uavobjectdefinition/actuatorsettings.xml
Labels: enhancement, flight, flight/actuator, status/ready-for-merge

#2092 pid: Schedule I-gain on antiwindup controller, based on P-term's proximity to clipping.
  flight/Libraries/math/pid.c
  flight/Libraries/math/pid.h
  flight/Modules/AltitudeHold/altitudehold.c
  flight/Modules/Stabilization/stabilization.c
  flight/Modules/VtolPathFollower/vtol_follower_control.c
Labels: enhancement, flight, status/requires-test

#2097 flightbatterysettings: set V calib factor to 11:1
  shared/uavobjectdefinition/flightbatterysettings.xml
Labels: enhancement, flight, status/ready-for-review, usability

#2089 pios_servo: set maximum number of banks to 8
  flight/PiOS/STM32/pios_servo.c
  flight/PiOS/inc/pios_servo.h
Labels: bug, flight, possible-hotfix, status/ready-for-review, targets/open-hardware

#2027 pios: Initialize modules/tasks in main.
  flight/PiOS/STM32/chibi_main.c
Labels: flight/pios, status/ready-for-review

#2063 Flight:Airspeed: Add option to use raw ADC value
  flight/Modules/Airspeed/airspeed.c
  flight/Modules/Airspeed/baro_airspeed_analog.c
  flight/PiOS/STM32F4xx/pios_internal_adc.c
  shared/uavobjectdefinition/airspeedsettings.xml
Labels: enhancement, flight, priority/low, status/ready-for-review

#2102 gcs controller: support arming switch
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrol.ui
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadget.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadget.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetconfiguration.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetconfiguration.h
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetoptionspage.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetoptionspage.ui
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetwidget.cpp
  ground/gcs/src/plugins/gcscontrolplugin/gcscontrolgadgetwidget.h
Labels: enhancement, gcs, status/ready-for-review

#2090 Factor althold logic into stabilization
  flight/Libraries/sanitycheck.c
  flight/Modules/AltitudeHold/altitudehold.c
  flight/Modules/ManualControl/transmitter_control.c
  flight/Modules/Stabilization/stabilization.c
  flight/Modules/VtolPathFollower/vtol_follower_control.c
  flight/PiOS/inc/pios_bmp280.h
  flight/PiOS/inc/pios_ms5611.h
  flight/PiOS/inc/pios_ms5611_spi.h
  flight/targets/aq32/fw/Makefile
  flight/targets/brain/fw/Makefile
  flight/targets/brainre1/fw/Makefile
  flight/targets/dtfc/fw/Makefile
  flight/targets/flightd/fw/Makefile
  flight/targets/lux/fw/Makefile
  flight/targets/omnibusf3/fw/Makefile
  flight/targets/pikoblx/fw/Makefile
  flight/targets/quanton/fw/Makefile
  flight/targets/revolution/fw/Makefile
  flight/targets/seppuku/fw/Makefile
  flight/targets/sparky/fw/Makefile
  flight/targets/sparky2/fw/Makefile
  flight/targets/sprf3e/fw/Makefile
  ground/gcs/src/plugins/config/modules.ui
  ground/gcs/src/plugins/pfdqml/pfdqmlgadgetwidget.cpp
  ground/gcs/src/plugins/systemhealth/html/SystemConfiguration-Error-AltitudeHold.html
  shared/uavobjectdefinition/altitudeholddesired.xml
  shared/uavobjectdefinition/altitudeholdsettings.xml
  shared/uavobjectdefinition/altitudeholdstate.xml
  shared/uavobjectdefinition/modulesettings.xml
  shared/uavobjectdefinition/stabilizationdesired.xml
  shared/uavobjectdefinition/taskinfo.xml
Labels: code-cleanup 😍, enhancement, flight, status/ready-for-review, status/requires-test

#2096 adc: improve resolution, correctness
  flight/Modules/ManualControl/transmitter_control.c
  flight/PiOS/STM32F0xx/pios_internal_adc_simple.c
  flight/PiOS/STM32F30x/pios_internal_adc.c
  flight/PiOS/STM32F4xx/pios_internal_adc.c
Labels: enhancement, flight, flight/pios, status/ready-for-review

#2100 Allow selection of thrust mode within stabilization bank
  flight/Libraries/sanitycheck.c
  flight/Modules/ManualControl/transmitter_control.c
  flight/targets/revolution/fw/Makefile
  ground/gcs/src/plugins/config/input.ui
  shared/uavobjectdefinition/manualcontrolsettings.xml
  shared/uavobjectdefinition/shareddefs.xml
  shared/uavobjectdefinition/stabilizationdesired.xml
Labels: code-cleanup 😍, enhancement, flight, status/ready-for-review

#2106 gcs: remove unnecessary execute bits
  ground/gcs/share/models/multi/gemini/TBS-GEMINI-Black.3DS
  ground/gcs/src/plugins/config/airframe.ui
  ground/gcs/src/plugins/config/camerastabilization.ui
  ground/gcs/src/plugins/config/input.ui
  ground/gcs/src/plugins/config/output.ui
  ground/gcs/src/plugins/config/outputchannelform.ui
  ground/gcs/src/plugins/config/txpid.ui
  ground/gcs/src/plugins/uploader/uploader.pro
Labels: code-cleanup 😍, status/ready-for-merge

#2109 scripts, api: move to python3
  Makefile
  flight/Modules/CharacterOSD/encode_font.py
  flight/Modules/OnScreenDisplay/inc/encode_fonts.py
  flight/Modules/OnScreenDisplay/inc/encode_images.py
  flight/targets/flightd/fw/Makefile
  flight/targets/playuavosd/px_mkfw.py
  flight/targets/playuavosd/px_uploader.py
  ground/gcs/gcsversioninfo.pri
  ground/gcs/src/plugins/uavobjects/wireshark/op-uavobjects/Makefile.am
  ground/gcs/src/plugins/uavobjects/wireshark/op-uavobjects/Makefile.nmake
  ground/gcs/src/plugins/uavobjects/wireshark/op-uavtalk/Makefile.am
  ground/gcs/src/plugins/uavobjects/wireshark/op-uavtalk/Makefile.nmake
  ground/gcs/usbids.pri
  ground/tools.pri
  make/firmware-defs.mk
  make/linux.mk
  make/macosx.mk
  make/scripts/version-info.py
  make/windows.mk
  package/package_symbols.py
  python/dronin-canonicalize
  python/dronin-dumplog
  python/dronin-getconfig
  python/dronin-getfile
  python/dronin-halt
  python/dronin-logfsimport
  python/dronin-logview
  python/dronin-reconntest
  python/dronin-savetest
  python/dronin-shell
  python/dronin/autotune.py
  python/dronin/logfs.py
  python/dronin/logviewer/logviewer.py
  python/dronin/telemetry.py
  python/dronin/uavo_collection.py
  python/test.py
Labels: build/infrastructure, code-cleanup 😍, enhancement, status/ready-for-merge

#2111 sprf3e: Cut out some features to save flash space.
  flight/targets/sprf3e/fw/Makefile
  shared/uavobjectdefinition/hwsprf3e.xml
Labels: code-cleanup 😍, flight, status/ready-for-merge, targets/closed-hardware

#2107 stabsettings: Increase yawPID limits
  shared/uavobjectdefinition/stabilizationsettings.xml
Labels: enhancement, gcs, status/ready-for-merge, usability

#2118 flight: ensure thrust mode is driven in all paths
  flight/Modules/FixedWingPathFollower/fixedwingpathfollower.c
  flight/Modules/ManualControl/failsafe_control.c
  flight/Modules/VtolPathFollower/vtol_follower_control.c
Labels: bug, bug/safety, flight, status/ready-for-review

#2120 glc_lib: fix mismatched malloc/delete
  ground/gcs/src/libs/glc_lib/io/glc_3dstoworld.cpp
Labels: bug, gcs, status/ready-for-review

#2119 Make baro work on omnibus f4 variants with it
  flight/PiOS/Common/pios_bmp280.c
  flight/targets/revolution/board-info/board_hw_defs.c
  flight/targets/revolution/fw/Makefile
  flight/targets/revolution/fw/pios_board.c
  flight/targets/revolution/fw/pios_config.h
  flight/targets/seppuku/board-info/board_hw_defs.c
Labels: enhancement, flight, flight/pios, status/requires-test, targets/closed-hardware, targets/legacy

#2117 transmitter_control: improve collective check
  flight/Modules/ManualControl/transmitter_control.c
Labels: bug, flight, status/ready-for-review, usability

#2115 uavo: describe StabilizationSettings
  flight/Modules/Stabilization/stabilization.c
  shared/uavobjectdefinition/stabilizationsettings.xml
Labels: documentation, enhancement, status/ready-for-review, usability

#2113 systemmod: manual buzzer should trigger actuators
  flight/Modules/System/systemmod.c
Labels: bug, flight, possible-hotfix, status/ready-for-review, usability

#2112 python-api: code cleanup, UAV file parsing
  python/dronin-logfsimport
  python/dronin/logfs.py
  python/dronin/uavo.py
  python/dronin/uavo_collection.py
  python/dronin/uavofile.py
Labels: api/python, status/ready-for-review

#2108 sensors: adjust good_run / missing sensor logic
  flight/Modules/Stabilization/sensors.c
Labels: bug, flight, flight/pios, status/ready-for-review, status/requires-test

#2103 hangtime: when enabling, calculate power add value
  ground/gcs/src/plugins/config/configstabilizationwidget.cpp
  ground/gcs/src/plugins/config/stabilization.ui
  ground/gcs/src/plugins/uavobjectwidgetutils/configtaskwidget.cpp
  shared/uavobjectdefinition/actuatorsettings.xml
Labels: enhancement, gcs, status/ready-for-review, usability

#2121 pios_flash: catch flash errors (enable interrupt)
  flight/PiOS/STM32F10x/pios_flash_internal.c
  flight/PiOS/STM32F30x/pios_flash_internal.c
  flight/PiOS/STM32F4xx/pios_flash_internal.c
Labels: enhancement, flight, flight/pios, status/ready-for-review

#2116 flight: attitude: use single set of config for level angles
  flight/Modules/OnScreenDisplay/osd_menu.c
  flight/Modules/Stabilization/stabilization.c
  flight/Modules/VtolPathFollower/vtol_follower_control.c
  shared/uavobjectdefinition/stabilizationsettings.xml
  shared/uavobjectdefinition/vtolpathfollowersettings.xml
Labels: bug, flight, flight/onscreendisplay, status/ready-for-review, usability

#1950 smoothcontrol: Add linear interpolation, user-specified duty cycle. Rename UAVO to ManualControlInterpolation.
  flight/Libraries/math/smoothcontrol.c
  flight/Libraries/math/smoothcontrol.h
  flight/Modules/Stabilization/stabilization.c
  shared/uavobjectdefinition/stabilizationsettings.xml
Labels: enhancement, flight, status/ready-for-review

#2127 macosx: improve build
  flight/tests/misc_math/unittest.cpp
  ground/gcs/src/plugins/rawhid/hidapi/hidapi_mac.c
Labels: BLOCKER 🛑, bug, build/macos, code-cleanup 😍, status/ready-for-review

#2125 flight: in debug mode, skip targets that don't build
  Makefile
  flight/targets/omnibusf3/target-defs.mk
  flight/targets/pikoblx/target-defs.mk
  flight/targets/sparky/target-defs.mk
  flight/targets/sprf3e/target-defs.mk
  make/firmware-defs.mk
Labels: bug, build/infrastructure, flight, status/ready-for-review

#2124 setupwizard: don't show anything except USB devices
  ground/gcs/src/plugins/boards_dronin/simulation.h
  ground/gcs/src/plugins/coreplugin/connectionmanager.h
  ground/gcs/src/plugins/setupwizard/pages/controllerpage.cpp
  ground/gcs/src/plugins/setupwizard/pages/controllerpage.h
Labels: enhancement, gcs, status/ready-for-review, usability

#2129 vtolpathfollower: improve config path
  flight/Modules/VtolPathFollower/vtol_follower_control.c
  flight/Modules/VtolPathFollower/vtol_follower_fsm.c
  flight/Modules/VtolPathFollower/vtol_follower_priv.h
  flight/Modules/VtolPathFollower/vtolpathfollower.c
Labels: bug, code-cleanup 😍, enhancement, flight, flight/navigation, status/ready-for-review

#2130 gcs: hidapi_linux: fix a crash seen in reports
  ground/gcs/src/plugins/rawhid/hidapi/hidapi_linux.c
Labels: bug, build/linux, gcs, status/ready-for-review

#2134 mcuconf: for now put back the STM32_NO_INIT code
  flight/PiOS/STM32F30x/inc/mcuconf.h
  flight/PiOS/STM32F4xx/inc/mcuconf.h
Labels: BLOCKER 🛑, bug, flight, flight/pios, status/ready-for-review

#2131 GCS: Disable crash reporter when debugger connected
  ground/gcs/src/app/main.cpp
  ground/gcs/src/libs/utils/hostosinfo.cpp
  ground/gcs/src/libs/utils/hostosinfo.h
Labels: build/macos, enhancement, gcs, status/ready-for-merge

#2140 pios_tim/PPM: correct F0 problem
  flight/PiOS/STM32F0xx/pios_tim.c
  flight/PiOS/STM32F10x/pios_tim.c
  flight/PiOS/STM32F30x/pios_tim.c
  flight/PiOS/STM32F4xx/pios_tim.c
Labels: bug, flight, flight/pios, status/ready-for-review, targets/flyingpi, targets/legacy, targets/open-hardware

#2141 GPS: Small changes for simulator, NMEA
  flight/Modules/GPS/GPS.c
  flight/Modules/GPS/NMEA.c
Labels: bug, code-cleanup 😍, flight, flight/navigation, status/ready-for-review

#2138 gcs: configtaskwidget: improve label formatting
  ground/gcs/src/plugins/uavobjectwidgetutils/configtaskwidget.cpp
Labels: bug, gcs, status/ready-for-merge, usability

#2135 gcs: configtaskwidget: fix read-only of labels
  ground/gcs/src/plugins/uavobjectwidgetutils/configtaskwidget.cpp
  ground/gcs/src/plugins/uavobjectwidgetutils/smartsavebutton.cpp
Labels: bug, code-cleanup 😍, gcs, status/ready-for-review

#2037 Add LQG controller for rate mode and as attitude inner loop
  flight/Libraries/alarms.c
  flight/Libraries/math/lqg.c
  flight/Libraries/math/lqg.h
  flight/Libraries/sanitycheck.c
  flight/Modules/CharacterOSD/panel.c
  flight/Modules/Logging/logging.c
  flight/Modules/ManualControl/inc/transmitter_control.h
  flight/Modules/ManualControl/transmitter_control.c
  flight/Modules/OnScreenDisplay/onscreendisplay.c
  flight/Modules/Stabilization/stabilization.c
  flight/targets/aq32/fw/pios_config.h
  flight/targets/brain/fw/pios_config.h
  flight/targets/brainre1/fw/Makefile
  flight/targets/brainre1/fw/pios_config.h
  flight/targets/dtfc/fw/pios_config.h
  flight/targets/lux/fw/pios_config.h
  flight/targets/omnibusf3/fw/pios_config.h
  flight/targets/pikoblx/fw/pios_config.h
  flight/targets/quanton/fw/pios_config.h
  flight/targets/revolution/fw/pios_config.h
  flight/targets/seppuku/fw/pios_config.h
  flight/targets/sparky2/fw/pios_config.h
  flight/targets/sprf3e/fw/pios_config.h
  ground/gcs/src/plugins/config/configautotunewidget.cpp
  ground/gcs/src/plugins/systemhealth/html/SystemConfiguration-Error-LQG.html
  ground/gcs/src/plugins/systemhealth/systemhealth.qrc
  ground/gcs/src/plugins/systemhealth/systemhealthgadgetwidget.cpp
  matlab/lqg/lqg.m
  shared/uavobjectdefinition/lqgsettings.xml
  shared/uavobjectdefinition/lqgsolution.xml
  shared/uavobjectdefinition/rtkfestimate.xml
  shared/uavobjectdefinition/shareddefs.xml
  shared/uavobjectdefinition/systemalarms.xml
  shared/uavobjectdefinition/systemident.xml
Labels: enhancement, flight, status/ready-for-merge, status/ready-for-review
