Repository d-ronin/dRonin, pull requests merged in 2018-02, with the labels that each got.

#2055 Flight:OSD: Disable OSD menu on PlayUAV
  flight/Modules/OnScreenDisplay/onscreendisplay.c
  flight/Modules/OnScreenDisplay/osd_menu.c
  flight/targets/brain/fw/pios_config.h
  flight/targets/brainre1/fw/pios_config.h
  flight/targets/seppuku/fw/pios_config.h
Labels: bug, flight/onscreendisplay, status/work-in-progress, targets/open-hardware

#2059 OmnibusF3: switch labels for V & I
  ground/gcs/src/plugins/boards_dronin/omnibusf3.cpp
Labels: bug, gcs, status/ready-for-review, usability

#2057 GCS:crashreporter: Fix git version info
  ground/gcs/src/crashreporterapp/crashreporterapp.pro
  ground/gcs/src/crashreporterapp/mainwindow.cpp
  ground/gcs/src/crashreporterapp/version.template.h
Labels: bug, build/osx, gcs, status/ready-for-review

#2062 GCS:Input: Default to first tab
  ground/gcs/src/plugins/config/configinputwidget.cpp
  ground/gcs/src/plugins/config/input.ui
Labels: bug, gcs, status/ready-for-merge

#2060 manualcontrol: make corner arming work.
  flight/Modules/ManualControl/inc/control.h
  flight/Modules/ManualControl/manualcontrol.c
  flight/Modules/ManualControl/transmitter_control.c
Labels: bug, flight, status/ready-for-review

#2064 GCS:CrashReporter: Send Jenkins build info
  ground/gcs/src/crashreporterapp/crashreporterapp.pro
  ground/gcs/src/crashreporterapp/mainwindow.cpp
  ground/gcs/src/crashreporterapp/version.template.h
Labels: enhancement, gcs, status/ready-for-review

#2061 GCS:Modules: Show a hint about RGB LEDs on the board
  ground/gcs/src/plugins/boards_dronin/seppuku.h
  ground/gcs/src/plugins/config/configmodulewidget.cpp
  ground/gcs/src/plugins/config/modules.ui
  ground/gcs/src/plugins/coreplugin/iboardtype.h
Labels: gcs, status/ready-for-review, usability

#2067 CharOSD: Fix display of AcroDyne flight mode
  flight/Modules/CharacterOSD/charosd.h
  flight/Modules/CharacterOSD/panel.c
Labels: bug, flight/onscreendisplay, status/ready-for-review

#2068 agcs: bump versions for Wired
  Makefile
  androidgcs/AndroidManifest.xml
Labels: BLOCKER, androidgcs, status/work-in-progress

#2070 manualcontrol: fix non-corner arming
  flight/Modules/ManualControl/transmitter_control.c
Labels: BLOCKER, bug, flight, status/ready-for-review

#2071 macos: Ensure that proper relative rpath is added
  package/osx/libraries
Labels: BLOCKER, bug, build/osx, status/work-in-progress

#2073 pios: fix semicolons and assert statements
  flight/PiOS/STM32/pios_i2c.c
  flight/PiOS/STM32/pios_spi.c
  flight/PiOS/STM32F30x/pios_flash_internal.c
  flight/PiOS/inc/pios_debug.h
Labels: bug, code-cleanup, flight, status/ready-for-review

#2053 flight: remove FrSky RSSI option
  flight/Modules/ManualControl/transmitter_control.c
  flight/PiOS/STM32F4xx/pios_frsky_rssi.c
  flight/PiOS/inc/pios_frsky_rssi.h
  flight/PiOS/inc/pios_frsky_rssi_priv.h
  flight/targets/brain/board-info/board_hw_defs.c
  flight/targets/brain/fw/pios_board.c
  flight/targets/brain/fw/pios_config.h
  flight/targets/brainre1/board-info/board_hw_defs.c
  flight/targets/brainre1/fw/pios_board.c
  flight/targets/brainre1/fw/pios_config.h
  flight/targets/playuavosd/fw/pios_config.h
  flight/targets/revolution/board-info/board_hw_defs.c
  flight/targets/revolution/fw/pios_board.c
  flight/targets/revolution/fw/pios_config.h
  ground/gcs/src/plugins/boards_brainfpv/brain.cpp
  ground/gcs/src/plugins/boards_openpilot/revolution.cpp
  shared/uavobjectdefinition/hwbrain.xml
  shared/uavobjectdefinition/hwrevolution.xml
Labels: code-cleanup, flight, flight/pios, status/ready-for-review

#2077 StabilizationSettings: Fix limits on AutotuneActuationEffort
  shared/uavobjectdefinition/stabilizationsettings.xml
Labels: status/work-in-progress

#2078 flightD: Fix external mag
  flight/PiOS/posix/pios_sys.c
Labels: bug, flight, status/ready-for-review

#2081 vtxconfig: Fix frequency of Raceband channel 2.
  flight/Modules/OnScreenDisplay/osd_menu.c
  flight/Modules/VTXConfig/VTXConfig.c
  shared/uavobjectdefinition/vtxsettings.xml
Labels: status/work-in-progress

#2074 Flight: Make ccache separate BUILD_CONFIG option as for GCS
  Makefile
  make/firmware-defs.mk
Labels: enhancement, flight, status/ready-for-review

#2085 flightd/posix: swap telem ids
  flight/PiOS/posix/pios_sys.c
  flight/targets/flightd/fw/pios_board.c
Labels: enhancement, flight, flight/pios, status/requires-test, targets/flyingpi

#2086 GCS:Eigen: Only use gcc Wno-int-in-bool-context flag on GCC
  ground/gcs/src/libs/eigen/eigen.pri
Labels: bug, build/macos, status/ready-for-review

#2087 osd: show "arm.." for armed flag during arming hold
  flight/Modules/OnScreenDisplay/onscreendisplay.c
Labels: enhancement, flight/onscreendisplay, status/ready-for-review
