Repository d-ronin/dRonin, pull requests merged in 2018-05, with the labels that each got.

#2187 openlrs: improvements--control data, usability, airside oplink
  flight/Libraries/inc/uavtalk.h
  flight/Libraries/uavtalk.c
  flight/Modules/RadioComBridge/radiocombridge.c
  flight/Modules/Telemetry/telemetry.c
  flight/PiOS/Common/pios_hal.c
  flight/PiOS/Common/pios_openlrs.c
  flight/PiOS/Common/pios_openlrs_rcvr.c
  flight/PiOS/inc/pios_hal.h
  flight/PiOS/inc/pios_openlrs.h
  flight/PiOS/inc/pios_openlrs_priv.h
  flight/targets/pipxtreme/board-info/pios_board.h
  flight/targets/pipxtreme/fw/Makefile
  flight/targets/pipxtreme/fw/pios_board.c
  flight/targets/pipxtreme/fw/pios_config.h
  flight/targets/revolution/fw/pios_board.c
  flight/targets/sparky2/fw/pios_board.c
  ground/gcs/src/plugins/boards_openpilot/images/pipx.svg
  ground/gcs/src/plugins/boards_openpilot/openpilot.qrc
  ground/gcs/src/plugins/boards_taulabs/taulink.cpp
  ground/gcs/src/plugins/config/configgadget.qrc
  ground/gcs/src/plugins/config/images/pipx-normal.png
  ground/gcs/src/plugins/config/images/pipx-selected.png
  ground/gcs/src/plugins/uavobjectutil/uavobjectutilmanager.cpp
  ground/gcs/src/plugins/uavtalk/telemetry.cpp
  shared/uavobjectdefinition/hwshared.xml
  shared/uavobjectdefinition/uavtalkreceiver.xml
Labels: enhancement, flight, flight/pios, status/ready-for-review

#2190 crossfire: Fix failsafe timeout, didn't respect the 250ms implemented in #1937.
  flight/PiOS/Common/pios_crossfire.c
Labels: flight/pios

#2191 rscode: remove (no longer used)
  Makefile
  flight/Libraries/rscode/LICENSE
  flight/Libraries/rscode/Makefile
  flight/Libraries/rscode/README
  flight/Libraries/rscode/berlekamp.c
  flight/Libraries/rscode/config.doc
  flight/Libraries/rscode/crcgen.c
  flight/Libraries/rscode/ecc.h
  flight/Libraries/rscode/galois.c
  flight/Libraries/rscode/gpl.txt
  flight/Libraries/rscode/rs.c
  flight/Libraries/rscode/rs.doc
  flight/flightlib/Makefile
  flight/targets/aq32/fw/Makefile
  flight/targets/brain/fw/Makefile
  flight/targets/brainre1/fw/Makefile
  flight/targets/dtfc/fw/Makefile
  flight/targets/flyingpio/fw/Makefile
  flight/targets/lux/fw/Makefile
  flight/targets/omnibusf3/fw/Makefile
  flight/targets/pikoblx/fw/Makefile
  flight/targets/pipxtreme/fw/Makefile
  flight/targets/playuavosd/fw/Makefile
  flight/targets/quanton/fw/Makefile
  flight/targets/revolution/fw/Makefile
  flight/targets/seppuku/fw/Makefile
  flight/targets/sparky/fw/Makefile
  flight/targets/sparky2/fw/Makefile
  flight/targets/sprf3e/fw/Makefile
  flight/tests/error_correcting/Makefile
  flight/tests/error_correcting/openpilot.h
  flight/tests/error_correcting/unittest.cpp
Labels: code-cleanup 😍, flight, status/ready-for-review

#2195 gcs: Fix Curve2 UI.
  ground/gcs/src/plugins/config/cfg_vehicletypes/configccpmwidget.cpp
  ground/gcs/src/plugins/config/mixercurve.ui
Labels: bug, gcs, status/ready-for-review

#2196 gcs,config: User interface OCDing.
  ground/gcs/src/plugins/boards_brotronics/luxconfiguration.ui
  ground/gcs/src/plugins/boards_dronin/seppuku.ui
  ground/gcs/src/plugins/boards_dronin/simulationconfiguration.ui
  ground/gcs/src/plugins/boards_dronin/sprf3econfiguration.ui
  ground/gcs/src/plugins/boards_dtf/dtfcconfiguration.ui
  ground/gcs/src/plugins/config/airframe.ui
  ground/gcs/src/plugins/config/attitude.ui
  ground/gcs/src/plugins/config/autotune.ui
  ground/gcs/src/plugins/config/camerastabilization.ui
  ground/gcs/src/plugins/config/defaulthwsettings.ui
  ground/gcs/src/plugins/config/input.ui
  ground/gcs/src/plugins/config/modules.ui
  ground/gcs/src/plugins/config/osd.ui
  ground/gcs/src/plugins/config/output.ui
  ground/gcs/src/plugins/config/stabilization.ui
  ground/gcs/src/plugins/config/txpid.ui
Labels: enhancement, gcs

#2189 lqg: Expose control cost on LQR, remove beta offset for yaw.
  flight/Libraries/math/lqg.c
  flight/Libraries/math/lqg.h
  flight/Modules/Stabilization/stabilization.c
  shared/uavobjectdefinition/lqgsettings.xml
Labels: enhancement, flight

#2193 dsm: refactor so that unit test can run against real code
  flight/PiOS/Common/pios_dsm.c
  flight/PiOS/inc/pios_dsm.h
  flight/PiOS/inc/pios_dsm_priv.h
  flight/PiOS/posix/pios_thread.c
  flight/UAVObjects/inc/uavobjecttemplate.h
  flight/targets/flightd/fw/pios_config.h
  flight/tests/dsm/Makefile
  flight/tests/dsm/dsm.c
  flight/tests/dsm/dsm.h
  flight/tests/dsm/pios_board.h
  flight/tests/dsm/pios_config.h
  flight/tests/dsm/unittest.cpp
Labels: bug, flight, flight/pios

#2197 osd: fix flight mode menu
  flight/Modules/OnScreenDisplay/osd_menu.c
Labels: bug, flight, flight/onscreendisplay, status/ready-for-review

#2198 python-api: default request callback needs to accept (unused) second parameter
  python/dronin/telemetry.py
Labels: api/python, bug, status/ready-for-review

#2201 flight,uavomanager: Misplaced now, wasted ~3% CPU on F3.
  flight/UAVObjects/uavobjectmanager.c
Labels: bug, flight, status/ready-for-review

#2199 tests: request an object using sync interface
  python/integrationtests-basic
Labels: code-cleanup 😍, enhancement, flight, status/ready-for-review

#2169 flight: f3: ADC related cleanups
  flight/Modules/System/systemmod.c
  flight/PiOS/Common/pios_adc.c
  flight/PiOS/STM32F0xx/pios_internal_adc_simple.c
  flight/PiOS/STM32F10x/pios_internal_adc_light.c
  flight/PiOS/STM32F30x/pios_dma.c
  flight/PiOS/STM32F30x/pios_dma_hooks.c
  flight/PiOS/STM32F30x/pios_internal_adc.c
  flight/PiOS/STM32F4xx/pios_internal_adc.c
  flight/PiOS/inc/pios_adc.h
  flight/PiOS/inc/pios_internal_adc.h
  flight/PiOS/posix/pios_flyingpio.c
  flight/targets/brain/board-info/pios_board.h
  flight/targets/dtfc/board-info/board_hw_defs.c
  flight/targets/dtfc/board-info/pios_board.h
  flight/targets/dtfc/fw/pios_board.c
  flight/targets/flyingpio/fw/main.c
  flight/targets/lux/board-info/board_hw_defs.c
  flight/targets/lux/board-info/pios_board.h
  flight/targets/lux/fw/pios_board.c
  flight/targets/omnibusf3/board-info/board_hw_defs.c
  flight/targets/omnibusf3/board-info/pios_board.h
  flight/targets/omnibusf3/fw/pios_board.c
  flight/targets/pikoblx/board-info/pios_board.h
  flight/targets/pipxtreme/board-info/pios_board.h
  flight/targets/quanton/board-info/pios_board.h
  flight/targets/revolution/board-info/pios_board.h
  flight/targets/seppuku/board-info/pios_board.h
  flight/targets/sparky/board-info/board_hw_defs.c
  flight/targets/sparky/board-info/pios_board.h
  flight/targets/sparky/fw/pios_board.c
  flight/targets/sprf3e/board-info/board_hw_defs.c
  flight/targets/sprf3e/board-info/pios_board.h
  flight/targets/sprf3e/fw/pios_board.c
Labels: code-cleanup 😍, flight, flight/pios, status/ready-for-review

#2194 openlrs: add simple UI
  artwork/GCS Icons/radio_icon.svg
  flight/PiOS/Common/pios_openlrs.c
  flight/PiOS/inc/pios_openlrs_priv.h
  ground/gcs/src/plugins/config/config.pro
  ground/gcs/src/plugins/config/configgadget.qrc
  ground/gcs/src/plugins/config/configgadgetwidget.cpp
  ground/gcs/src/plugins/config/configgadgetwidget.h
  ground/gcs/src/plugins/config/configradiowidget.cpp
  ground/gcs/src/plugins/config/configradiowidget.h
  ground/gcs/src/plugins/config/images/ic_icons.md
  ground/gcs/src/plugins/config/images/radio_normal.png
  ground/gcs/src/plugins/config/images/radio_selected.png
  ground/gcs/src/plugins/config/integratedradio.ui
  shared/uavobjectdefinition/hwrevolution.xml
  shared/uavobjectdefinition/hwshared.xml
  shared/uavobjectdefinition/hwsparky2.xml
  shared/uavobjectdefinition/hwtaulink.xml
  shared/uavobjectdefinition/openlrs.xml
  shared/uavobjectdefinition/openlrsstatus.xml
Labels: enhancement, flight, flight/pios, gcs, status/ready-for-review, telemetry

#2208 GCS:Config: Add warning for collective channel assigned on non-heli
  ground/gcs/src/plugins/config/configinputwidget.cpp
  ground/gcs/src/plugins/config/configinputwidget.h
  ground/gcs/src/plugins/config/input.ui
  ground/gcs/src/plugins/config/inputchannelform.cpp
  ground/gcs/src/plugins/config/inputchannelform.h
Labels: enhancement, gcs, status/ready-for-review, usability

#2202 lqg: RTKF needs way way more cycles to stabilize with low beta.
  flight/Libraries/math/lqg.c
  flight/Libraries/math/lqg.h
  flight/Modules/Stabilization/stabilization.c
  ground/gcs/src/plugins/systemhealth/html/SystemConfiguration-Error-LQG.html
Labels: bug, flight, status/requires-test

#2210 Attempt to improve CPU use by declaring things const
  flight/Modules/Autotune/autotune.c
  flight/Modules/CameraStab/camerastab.c
  flight/Modules/FirmwareIAP/firmwareiap.c
  flight/Modules/FixedWingPathFollower/fixedwingpathfollower.c
  flight/Modules/Geofence/geofence.c
  flight/Modules/Logging/logging.c
  flight/Modules/PathPlanner/pathplanner.c
  flight/Modules/RadioComBridge/radiocombridge.c
  flight/Modules/System/systemmod.c
  flight/Modules/TxPID/txpid.c
  flight/PiOS/Common/pios_thread.c
  flight/PiOS/Common/pios_uavtalkrcvr.c
  flight/UAVObjects/inc/uavobjectmanager.h
  flight/UAVObjects/uavobjectmanager.c
  flight/targets/brainre1/fw/pios_board.c
Labels: code-cleanup 😍, enhancement

#2213 Package:GCS: Remove libqjp2.so - JPEG2000 support
  package/Makefile.linux
Labels: BLOCKER 🛑, build/linux, gcs, status/requires-test
