Repository d-ronin/dRonin, pull requests merged in 2019-04, with the labels that each got.

#2248 UAVOMSPBridge: Send ! instead of | for MSP error
  flight/Modules/UAVOMSPBridge/UAVOMSPBridge.c
Labels: bug, flight, status/ready-for-review, telemetry

#2246 Add IBus to available RSSI input types
  flight/Modules/ManualControl/transmitter_control.c
  ground/gcs/src/plugins/config/inputchannelform.cpp
  shared/uavobjectdefinition/manualcontrolsettings.xml
Labels: enhancement, flight, status/ready-for-review

#2250 GCS:Config: Allow zero battery cells to disable auto-detect
  ground/gcs/src/plugins/config/modules.ui
Labels: enhancement, gcs, status/ready-for-review

#2203 revolution: support i2c BMP280 baros on clones
  flight/PiOS/Common/pios_bmp280.c
  flight/PiOS/STM32/pios_i2c.c
  flight/targets/revolution/fw/pios_board.c
  flight/targets/revolution/fw/pios_config.h
Labels: enhancement, flight, flight/pios, status/ready-for-review, targets/legacy
