Repository d-ronin/dRonin, pull requests merged in 2019-03, with the labels that each got.

#2229 Makefile: add uavos for 20180729 release
  Makefile
Labels: administrative, androidgcs, status/ready-for-merge

#2206 uavtalk: move to generator class
  python/dronin/telemetry.py
  python/dronin/uavtalk.py
Labels: api/python, code-cleanup 😍, status/ready-for-review, status/requires-test

#2233 GCS: Fix and update translations
  Makefile
  ground/gcs/share/translations/dronin_de.ts
  ground/gcs/share/translations/dronin_es.ts
  ground/gcs/share/translations/dronin_fr.ts
  ground/gcs/share/translations/dronin_ru.ts
  ground/gcs/share/translations/dronin_untranslated.ts
  ground/gcs/share/translations/dronin_zh_CN.ts
  ground/gcs/share/translations/translations.pro
Labels: bug, gcs, status/ready-for-review

#2238 GCS:UAVTalk: Don't check backlog for QFileDevices
  ground/gcs/src/plugins/kmlexport/kmlexport.cpp
  ground/gcs/src/plugins/logging/loggingplugin.cpp
  ground/gcs/src/plugins/uavtalk/uavtalk.cpp
  ground/gcs/src/plugins/uavtalk/uavtalk.h
Labels: bug, status/ready-for-review

#2243 disable '-Werror' on linux too. Fix issue #2205
  ground/gcs/gcs.pri
Labels: build/linux, gcs
